{
    "openapi": "3.0.3",
    "info": {
        "title": "Ice Factory API — Admin",
        "version": "1.0.0",
        "license": {
            "name": "Proprietary — PT Arima Digital",
            "url": "https://www.arimadigital.co.id"
        }
    },
    "servers": [
        {
            "url": "https://ice-factory.arimadigital.co.id",
            "description": "Production (diganti otomatis jadi APP_URL oleh package swagger-ui saat dirilis)"
        }
    ],
    "tags": [
        {
            "name": "Autentikasi",
            "description": "Login, profil, token, dan logout. Dipanggil lebih dulu sebelum endpoint lain."
        },
        {
            "name": "Produksi",
            "description": "Warehouse membuat produksi DRAFT; admin mengunci lewat `POST /api/productions/{productionId}/post` supaya stok good tersedia untuk pengiriman."
        },
        {
            "name": "Pengiriman",
            "description": "Admin membuat rencana (DRAFT), menyetujuinya lewat `POST /api/deliveries/{deliveryId}/post`, dan memantau yang sedang jalan. Driver yang menekan start dan menutup run."
        },
        {
            "name": "Sales",
            "description": "Admin meninjau penjualan yang dicatat driver: `POST /api/sales/{saleId}/approve` (CONFIRMED, masuk piutang) atau `POST /api/sales/{saleId}/reject` (VOID). Hanya CONFIRMED yang masuk piutang."
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Autentikasi"
                ],
                "summary": "Login — ambil Bearer token. Satu-satunya endpoint publik.",
                "responses": {
                    "200": {
                        "description": "Login berhasil.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthToken"
                                },
                                "example": {
                                    "message": "Login successful",
                                    "user": {
                                        "id": 1,
                                        "username": "admin",
                                        "email": "admin@icefactory.local",
                                        "role": "ADMIN",
                                        "created_at": "2026-08-26T14:52:53.000000Z",
                                        "updated_at": "2026-08-26T14:52:53.000000Z"
                                    },
                                    "token": "1|DacxhbJfOLvzKaAAojmtw3L0bliQg1dweFrVZvYA8835d45b",
                                    "expires_in": 2592000
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Username/password salah — bentuk default Laravel.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                },
                                "example": {
                                    "message": "The provided credentials are incorrect.",
                                    "errors": {
                                        "username": [
                                            "The provided credentials are incorrect."
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            },
                            "example": {
                                "username": "admin",
                                "password": "password123"
                            }
                        }
                    }
                },
                "operationId": "postAuthLogin"
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Autentikasi"
                ],
                "summary": "Logout — hapus token yang sekarang dipakai.",
                "responses": {
                    "200": {
                        "description": "Logout berhasil.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Logout successful"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    }
                },
                "operationId": "postAuthLogout"
            }
        },
     
        "/api/deliveries": {
            "get": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Daftar pengiriman. Role DRIVER hanya melihat sterilnya sendiri. (ADMIN, WAREHOUSE, DRIVER)",
                "responses": {
                    "200": {
                        "description": "List pengiriman. Untuk role DRIVER hanya berisi delivery dengan driver_id miliknya.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Deliveries retrieved successfully",
                                    "data": [
                                        {
                                            "id": 3,
                                            "delivery_date": "2026-08-26T00:00:00.000000Z",
                                            "driver_id": 3,
                                            "vehicle_id": 1,
                                            "warehouse_id": 1,
                                            "initial_qty_loaded_ball": "5.00",
                                            "total_qty_delivered_ball": "3.00",
                                            "total_qty_returned_ball": "2.00",
                                            "status": "COMPLETED",
                                            "notes": "High priority untuk RSA-001",
                                            "started_at": "2026-08-26T09:42:12.000000Z",
                                            "completed_at": "2026-08-26T13:43:21.000000Z",
                                            "created_at": "2026-08-26T09:40:40.000000Z",
                                            "updated_at": "2026-08-26T13:43:21.000000Z",
                                            "driver": {
                                                "id": 3,
                                                "username": "driver_1",
                                                "email": "driver1@icefactory.local",
                                                "role": "DRIVER",
                                                "created_at": "2026-08-26T09:27:22.000000Z",
                                                "updated_at": "2026-08-26T09:27:22.000000Z"
                                            },
                                            "vehicle": {
                                                "id": 1,
                                                "code": "V-001",
                                                "plate_number": "B 1234 ABC",
                                                "name": "Truck A",
                                                "created_at": "2026-08-26T14:52:53.000000Z",
                                                "updated_at": "2026-08-26T14:52:53.000000Z"
                                            },
                                            "stops": [
                                                {
                                                    "sequence": 1,
                                                    "store": {
                                                        "id": 1,
                                                        "code": "RSA-001",
                                                        "name": "Toko Rapi",
                                                        "owner_name": "Joko",
                                                        "phone": "08123456789",
                                                        "address": "Jl. Merdeka No. 1, Jakarta",
                                                        "latitude": "-6.20880000",
                                                        "longitude": "106.84560000",
                                                        "created_at": "2026-08-26T09:31:00.000000Z",
                                                        "updated_at": "2026-08-26T09:31:00.000000Z"
                                                    },
                                                    "status": "PENDING",
                                                    "planned_qty_ball": null,
                                                    "visited_at": null,
                                                    "notes": null,
                                                    "leg_km": 3.100000000000000088817841970012523233890533447265625
                                                },
                                                {
                                                    "sequence": 2,
                                                    "store": {
                                                        "id": 2,
                                                        "code": "RSA-002",
                                                        "name": "Toko Rapi",
                                                        "owner_name": "Joko",
                                                        "phone": "08123456789",
                                                        "address": "Jl. Merdeka No. 2, Jakarta",
                                                        "latitude": "-6.21670000",
                                                        "longitude": "106.82940000",
                                                        "created_at": "2026-08-26T09:31:00.000000Z",
                                                        "updated_at": "2026-08-26T09:31:00.000000Z"
                                                    },
                                                    "status": "PENDING",
                                                    "planned_qty_ball": null,
                                                    "visited_at": null,
                                                    "notes": null,
                                                    "leg_km": 2.70000000000000017763568394002504646778106689453125
                                                }
                                            ]
                                        }
                                    ],
                                    "count": 1
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "GUEST",
                                        "your_permissions": "Unknown role",
                                        "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "WAREHOUSE",
                                            "DRIVER"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "operationId": "getAdminDeliveries",
                "x-roles": [
                    "ADMIN",
                    "WAREHOUSE",
                    "DRIVER"
                ]
            },
            "post": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Buat rencana pengiriman (DRAFT) beserta toko tujuan. Stores diurutkan nearest-first dari gudang asal. (ADMIN, DRIVER)",
                "responses": {
                    "201": {
                        "description": "Delivery plan dibuat, lengkap dengan daftar stop yang sudah terurut.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery plan created successfully",
                                    "data": {
                                        "id": 3,
                                        "delivery_date": "2026-08-26T00:00:00.000000Z",
                                        "driver_id": 3,
                                        "vehicle_id": 1,
                                        "warehouse_id": 1,
                                        "initial_qty_loaded_ball": "5.00",
                                        "total_qty_delivered_ball": "3.00",
                                        "total_qty_returned_ball": "2.00",
                                        "status": "DRAFT",
                                        "notes": "High priority untuk RSA-001",
                                        "started_at": "2026-08-26T09:42:12.000000Z",
                                        "completed_at": "2026-08-26T13:43:21.000000Z",
                                        "created_at": "2026-08-26T09:40:40.000000Z",
                                        "updated_at": "2026-08-26T13:43:21.000000Z",
                                        "driver": {
                                            "id": 3,
                                            "username": "driver_1",
                                            "email": "driver1@icefactory.local",
                                            "role": "DRIVER",
                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                            "updated_at": "2026-08-26T09:27:22.000000Z"
                                        },
                                        "vehicle": {
                                            "id": 1,
                                            "code": "V-001",
                                            "plate_number": "B 1234 ABC",
                                            "name": "Truck A",
                                            "created_at": "2026-08-26T14:52:53.000000Z",
                                            "updated_at": "2026-08-26T14:52:53.000000Z"
                                        },
                                        "stops": [
                                            {
                                                "sequence": 1,
                                                "store": {
                                                    "id": 1,
                                                    "code": "RSA-001",
                                                    "name": "Toko Rapi",
                                                    "owner_name": "Joko",
                                                    "phone": "08123456789",
                                                    "address": "Jl. Merdeka No. 1, Jakarta",
                                                    "latitude": "-6.20880000",
                                                    "longitude": "106.84560000",
                                                    "created_at": "2026-08-26T09:31:00.000000Z",
                                                    "updated_at": "2026-08-26T09:31:00.000000Z"
                                                },
                                                "status": "PENDING",
                                                "planned_qty_ball": null,
                                                "visited_at": null,
                                                "notes": null,
                                                "leg_km": 3.100000000000000088817841970012523233890533447265625
                                            },
                                            {
                                                "sequence": 2,
                                                "store": {
                                                    "id": 2,
                                                    "code": "RSA-002",
                                                    "name": "Toko Rapi",
                                                    "owner_name": "Joko",
                                                    "phone": "08123456789",
                                                    "address": "Jl. Merdeka No. 2, Jakarta",
                                                    "latitude": "-6.21670000",
                                                    "longitude": "106.82940000",
                                                    "created_at": "2026-08-26T09:31:00.000000Z",
                                                    "updated_at": "2026-08-26T09:31:00.000000Z"
                                                },
                                                "status": "PENDING",
                                                "planned_qty_ball": null,
                                                "visited_at": null,
                                                "notes": null,
                                                "leg_km": 2.70000000000000017763568394002504646778106689453125
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, DRIVER. Driver yang mengirim `driver_id` milik orang lain mendapat 403: rencana harus untuk dirinya sendiri. Ini menyimpang dari BRD:342-352 yang menaruh [CREATE DELIVERY PLAN] di section WAREHOUSE STAFF, tetapi tim memutuskan penyusunan dan persetujuan rencana milik admin + driver.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "WAREHOUSE",
                                        "your_permissions": "Production management and delivery planning",
                                        "required_roles": "ADMIN, DRIVER",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "DRIVER"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal (format custom).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationFailedError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Validation failed",
                                    "errors": {
                                        "stores": [
                                            "The stores field is required."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            },
                            "example": {
                                "driver_id": 3,
                                "vehicle_id": 1,
                                "warehouse_id": 1,
                                "delivery_date": "2026-08-26",
                                "initial_qty_loaded_ball": 50,
                                "stores": [
                                    1,
                                    2
                                ],
                                "notes": "High priority untuk RSA-001"
                            }
                        }
                    }
                },
                "operationId": "postAdminDeliveries",
                "x-roles": [
                    "ADMIN",
                    "DRIVER"
                ]
            }
        },
        "/api/deliveries/{deliveryId}/items": {
            "get": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Daftar item dalam satu pengiriman. (ADMIN, WAREHOUSE)",
                "responses": {
                    "200": {
                        "description": "List delivery items.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery items retrieved successfully",
                                    "data": [
                                        {
                                            "id": 6,
                                            "delivery_id": 3,
                                            "store_id": 2,
                                            "freezer_id": 4,
                                            "confirmed_stock_before_ball": "3.00",
                                            "delivered_qty_ball": "3.00",
                                            "photo_stock_before": [
                                                "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                                            ],
                                            "photo_delivered": [
                                                "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                                            ],
                                            "visited_at": "2026-08-26T09:47:13.000000Z",
                                            "store": {
                                                "id": 2,
                                                "code": "RSA-002",
                                                "name": "Toko Budi",
                                                "owner_name": "Budi Santoso",
                                                "phone": "08129876543",
                                                "address": "Jl. Sudirman No. 456, Jakarta",
                                                "latitude": "-6.21670000",
                                                "longitude": "106.82940000",
                                                "created_at": "2026-08-26T14:52:53.000000Z",
                                                "updated_at": "2026-08-26T14:52:53.000000Z"
                                            },
                                            "freezer": {
                                                "id": 4,
                                                "store_id": 2,
                                                "code": "FRZ-RSA-002-A",
                                                "sim_number": "SIM-8888",
                                                "max_capacity_ball": 100,
                                                "tare_weight_kg": "5.00",
                                                "last_weight_kg": "75.00",
                                                "last_temperature_c": "-18.00",
                                                "last_door_status": "CLOSED",
                                                "last_seen_at": "2026-08-26T09:27:22.000000Z",
                                                "created_at": "2026-08-26T09:27:22.000000Z",
                                                "updated_at": "2026-08-26T09:27:22.000000Z",
                                                "products": [
                                                    {
                                                        "id": 1,
                                                        "code": "ICE-10",
                                                        "name": "Es Kristal 10 KG",
                                                        "weight_kg": "10.00",
                                                        "selling_price": "10000.00",
                                                        "created_at": "2026-08-26T09:27:22.000000Z",
                                                        "updated_at": "2026-08-26T09:27:22.000000Z",
                                                        "ball_equivalent": 1
                                                    },
                                                    {
                                                        "id": 2,
                                                        "code": "ICE-15",
                                                        "name": "Es Kristal 15 KG",
                                                        "weight_kg": "15.00",
                                                        "selling_price": "15000.00",
                                                        "created_at": "2026-08-26T09:27:22.000000Z",
                                                        "updated_at": "2026-08-26T09:27:22.000000Z",
                                                        "ball_equivalent": 1.5
                                                    }
                                                ]
                                            },
                                            "product_id": 1,
                                            "product": {
                                                "id": 1,
                                                "code": "ICE-10",
                                                "name": "Es Kristal 10 KG",
                                                "weight_kg": "10.00",
                                                "selling_price": "10000.00",
                                                "created_at": "2026-08-26T09:27:22.000000Z",
                                                "updated_at": "2026-08-26T09:27:22.000000Z",
                                                "ball_equivalent": 1
                                            }
                                        }
                                    ],
                                    "count": 1
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "DRIVER",
                                        "your_permissions": "Freezer confirmation and payment collection",
                                        "required_roles": "ADMIN, WAREHOUSE",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "WAREHOUSE"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "deliveryId",
                        "in": "path",
                        "required": true,
                        "description": "ID pengiriman (delivery).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "getAdminDeliveriesDeliveryidItems",
                "x-roles": [
                    "ADMIN",
                    "WAREHOUSE"
                ]
            }
        },
        "/api/deliveries/{deliveryId}": {
            "get": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Detail pengiriman beserta driver, vehicle & delivery items. (ADMIN, WAREHOUSE, DRIVER)",
                "responses": {
                    "200": {
                        "description": "Delivery.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery retrieved successfully",
                                    "data": {
                                        "id": 3,
                                        "delivery_date": "2026-08-26T00:00:00.000000Z",
                                        "driver_id": 3,
                                        "vehicle_id": 1,
                                        "warehouse_id": 1,
                                        "initial_qty_loaded_ball": "5.00",
                                        "total_qty_delivered_ball": "3.00",
                                        "total_qty_returned_ball": "2.00",
                                        "status": "COMPLETED",
                                        "notes": "High priority untuk RSA-001",
                                        "started_at": "2026-08-26T09:42:12.000000Z",
                                        "completed_at": "2026-08-26T13:43:21.000000Z",
                                        "created_at": "2026-08-26T09:40:40.000000Z",
                                        "updated_at": "2026-08-26T13:43:21.000000Z",
                                        "driver": {
                                            "id": 3,
                                            "username": "driver_1",
                                            "email": "driver1@icefactory.local",
                                            "role": "DRIVER",
                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                            "updated_at": "2026-08-26T09:27:22.000000Z"
                                        },
                                        "vehicle": {
                                            "id": 1,
                                            "code": "V-001",
                                            "plate_number": "B 1234 ABC",
                                            "name": "Truck A",
                                            "created_at": "2026-08-26T14:52:53.000000Z",
                                            "updated_at": "2026-08-26T14:52:53.000000Z"
                                        },
                                        "summary": "Detail pengiriman beserta driver, vehicle, stop rute & delivery items. (ADMIN, WAREHOUSE, DRIVER)",
                                        "stops": [
                                            {
                                                "sequence": 1,
                                                "store": {
                                                    "id": 1,
                                                    "code": "RSA-001",
                                                    "name": "Toko Rapi",
                                                    "owner_name": "Joko",
                                                    "phone": "08123456789",
                                                    "address": "Jl. Merdeka No. 123, Jakarta",
                                                    "latitude": "-6.20880000",
                                                    "longitude": "106.84560000",
                                                    "created_at": "2026-08-26T09:31:00.000000Z",
                                                    "updated_at": "2026-08-26T09:31:00.000000Z"
                                                },
                                                "status": "VISITED",
                                                "planned_qty_ball": null,
                                                "visited_at": "2026-08-26T10:15:00.000000Z",
                                                "notes": null,
                                                "leg_km": 3.100000000000000088817841970012523233890533447265625
                                            },
                                            {
                                                "sequence": 2,
                                                "store": {
                                                    "id": 2,
                                                    "code": "RSA-002",
                                                    "name": "Toko Sejahtera",
                                                    "owner_name": "Andi",
                                                    "phone": "08129876543",
                                                    "address": "Jl. Sudirman No. 456, Jakarta",
                                                    "latitude": "-6.21670000",
                                                    "longitude": "106.82940000",
                                                    "created_at": "2026-08-26T09:31:00.000000Z",
                                                    "updated_at": "2026-08-26T09:31:00.000000Z"
                                                },
                                                "status": "PENDING",
                                                "planned_qty_ball": null,
                                                "visited_at": null,
                                                "notes": null,
                                                "leg_km": 2.70000000000000017763568394002504646778106689453125
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "GUEST",
                                        "your_permissions": "Unknown role",
                                        "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "WAREHOUSE",
                                            "DRIVER"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "deliveryId",
                        "in": "path",
                        "required": true,
                        "description": "ID pengiriman (delivery).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "getAdminDeliveriesId",
                "x-roles": [
                    "ADMIN",
                    "WAREHOUSE",
                    "DRIVER"
                ]
            },
            "put": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Ubah rencana (hanya DRAFT). 'stores' mengganti seluruh rute. (ADMIN, DRIVER)",
                "responses": {
                    "200": {
                        "description": "Delivery diupdate.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery updated successfully",
                                    "data": {
                                        "id": 3,
                                        "delivery_date": "2026-08-26T00:00:00.000000Z",
                                        "driver_id": 3,
                                        "vehicle_id": 1,
                                        "warehouse_id": 1,
                                        "initial_qty_loaded_ball": "5.00",
                                        "total_qty_delivered_ball": "3.00",
                                        "total_qty_returned_ball": "2.00",
                                        "status": "COMPLETED",
                                        "notes": "High priority untuk RSA-001",
                                        "started_at": "2026-08-26T09:42:12.000000Z",
                                        "completed_at": "2026-08-26T13:43:21.000000Z",
                                        "created_at": "2026-08-26T09:40:40.000000Z",
                                        "updated_at": "2026-08-26T13:43:21.000000Z",
                                        "driver": {
                                            "id": 3,
                                            "username": "driver_1",
                                            "email": "driver1@icefactory.local",
                                            "role": "DRIVER",
                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                            "updated_at": "2026-08-26T09:27:22.000000Z"
                                        },
                                        "vehicle": {
                                            "id": 1,
                                            "code": "V-001",
                                            "plate_number": "B 1234 ABC",
                                            "name": "Truck A",
                                            "created_at": "2026-08-26T14:52:53.000000Z",
                                            "updated_at": "2026-08-26T14:52:53.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, DRIVER. Driver hanya boleh mengubah draft miliknya sendiri, dan tidak boleh reassign `driver_id` ke rekan. Draft milik driver lain juga 403.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "WAREHOUSE",
                                        "your_permissions": "Production management and delivery planning",
                                        "required_roles": "ADMIN, DRIVER",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "DRIVER"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal (format custom).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationFailedError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Validation failed",
                                    "errors": {
                                        "code": [
                                            "The code has already been taken."
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "deliveryId",
                        "in": "path",
                        "required": true,
                        "description": "ID pengiriman (delivery).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonObject"
                            },
                            "example": {
                                "stores": [
                                    2,
                                    1
                                ],
                                "notes": "Ubah urutan, tambah target"
                            }
                        }
                    }
                },
                "operationId": "putAdminDeliveriesId",
                "x-roles": [
                    "ADMIN",
                    "DRIVER"
                ]
            },
            "delete": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Hapus rencana - hanya DRAFT. (ADMIN)",
                "responses": {
                    "200": {
                        "description": "Delivery dihapus.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery deleted successfully"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN. Rencana adalah catatan admin tentang apa yang disepakati; driver yang tidak jadi memakai draftnya bisa membiarkannya DRAFT. POSTED tidak bisa dihapus di endpoint ini.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "WAREHOUSE",
                                        "your_permissions": "Production management and delivery planning",
                                        "required_roles": "ADMIN",
                                        "allowed_permissions": [
                                            "ADMIN"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bukan DRAFT.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Only DRAFT deliveries can be deleted",
                                    "current_status": "IN_PROGRESS"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "deliveryId",
                        "in": "path",
                        "required": true,
                        "description": "ID pengiriman (delivery).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "deleteAdminDeliveriesId",
                "x-roles": [
                    "ADMIN"
                ]
            }
        },
        "/api/deliveries/{deliveryId}/summary": {
            "get": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Ringkasan progress satu pengiriman. (ADMIN, WAREHOUSE, DRIVER)",
                "responses": {
                    "200": {
                        "description": "Summary delivery.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery summary retrieved successfully",
                                    "data": {
                                        "delivery_id": 3,
                                        "status": "IN_PROGRESS",
                                        "driver": {
                                            "id": 3,
                                            "username": "driver_1",
                                            "email": "driver1@icefactory.local",
                                            "role": "DRIVER",
                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                            "updated_at": "2026-08-26T09:27:22.000000Z"
                                        },
                                        "vehicle": {
                                            "id": 1,
                                            "code": "V-001",
                                            "plate_number": "B 1234 ABC",
                                            "name": "Truck A",
                                            "created_at": "2026-08-26T14:52:53.000000Z",
                                            "updated_at": "2026-08-26T14:52:53.000000Z"
                                        },
                                        "delivery_date": "2026-08-26",
                                        "initial_load": "5.00",
                                        "total_delivered": "3.00",
                                        "current_load": "2.00",
                                        "stops_completed": 1,
                                        "notes": "High priority untuk RSA-001",
                                        "stops_total": 2,
                                        "stops_departed": 1,
                                        "stops_skipped": 0
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "GUEST",
                                        "your_permissions": "Unknown role",
                                        "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "WAREHOUSE",
                                            "DRIVER"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "deliveryId",
                        "in": "path",
                        "required": true,
                        "description": "ID pengiriman (delivery).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "getAdminDeliveriesIdSummary",
                "x-roles": [
                    "ADMIN",
                    "WAREHOUSE",
                    "DRIVER"
                ]
            }
        },
        "/api/deliveries/{deliveryId}/route": {
            "get": {
                "tags": [
                    "Pengiriman"
                ],
                "summary": "Rute pengiriman: urutan toko, jarak per leg, total km & estimasi durasi. (ADMIN, WAREHOUSE, DRIVER)",
                "responses": {
                    "200": {
                        "description": "Rute dalam urutan kunjungan, beserta progres stop.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Delivery route retrieved successfully",
                                    "data": {
                                        "delivery_id": 3,
                                        "status": "IN_PROGRESS",
                                        "delivery_date": "2026-08-26T00:00:00.000000Z",
                                        "driver": {
                                            "id": 3,
                                            "username": "driver_1",
                                            "email": "driver1@icefactory.local",
                                            "role": "DRIVER",
                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                            "updated_at": "2026-08-26T09:27:22.000000Z"
                                        },
                                        "warehouse": {
                                            "id": 1,
                                            "code": "WH-001",
                                            "name": "Gudang Pusat",
                                            "latitude": "-6.17510000",
                                            "longitude": "106.86500000",
                                            "created_at": "2026-08-26T09:30:00.000000Z",
                                            "updated_at": "2026-08-26T09:30:00.000000Z"
                                        },
                                        "initial_qty_loaded_ball": "50.00",
                                        "stops": [
                                            {
                                                "sequence": 1,
                                                "store": {
                                                    "id": 1,
                                                    "code": "RSA-001",
                                                    "name": "Toko Rapi",
                                                    "owner_name": "Joko",
                                                    "phone": "08123456789",
                                                    "address": "Jl. Merdeka No. 123, Jakarta",
                                                    "latitude": "-6.20880000",
                                                    "longitude": "106.84560000",
                                                    "created_at": "2026-08-26T09:31:00.000000Z",
                                                    "updated_at": "2026-08-26T09:31:00.000000Z"
                                                },
                                                "status": "VISITED",
                                                "planned_qty_ball": null,
                                                "visited_at": "2026-08-26T10:15:00.000000Z",
                                                "notes": null,
                                                "leg_km": 3.100000000000000088817841970012523233890533447265625,
                                                "arrived_at": "2026-08-26T10:00:00.000000Z",
                                                "departed_at": "2026-08-26T10:15:00.000000Z"
                                            },
                                            {
                                                "sequence": 2,
                                                "store": {
                                                    "id": 2,
                                                    "code": "RSA-002",
                                                    "name": "Toko Sejahtera",
                                                    "owner_name": "Andi",
                                                    "phone": "08129876543",
                                                    "address": "Jl. Sudirman No. 456, Jakarta",
                                                    "latitude": "-6.21670000",
                                                    "longitude": "106.82940000",
                                                    "created_at": "2026-08-26T09:31:00.000000Z",
                                                    "updated_at": "2026-08-26T09:31:00.000000Z"
                                                },
                                                "status": "PENDING",
                                                "planned_qty_ball": null,
                                                "visited_at": null,
                                                "notes": null,
                                                "leg_km": 2.70000000000000017763568394002504646778106689453125,
                                                "arrived_at": null,
                                                "departed_at": null
                                            }
                                        ],
                                        "stops_total": 2,
                                        "stops_visited": 1,
                                        "current_stop": {
                                            "id": 2,
                                            "code": "RSA-002",
                                            "name": "Toko Sejahtera",
                                            "owner_name": "Andi",
                                            "phone": "08129876543",
                                            "address": "Jl. Sudirman No. 456, Jakarta",
                                            "latitude": "-6.21670000",
                                            "longitude": "106.82940000",
                                            "created_at": "2026-08-26T09:31:00.000000Z",
                                            "updated_at": "2026-08-26T09:31:00.000000Z"
                                        },
                                        "total_km": 5.79999999999999982236431605997495353221893310546875,
                                        "total_minutes": 44,
                                        "distance_note": "Straight-line distance scaled by 1.35 to approximate road distance. Legs are null where a warehouse or store has no coordinates.",
                                        "at_store": null,
                                        "next_stop": {
                                            "id": 2,
                                            "code": "RSA-002",
                                            "name": "Toko Sejahtera",
                                            "owner_name": "Andi",
                                            "phone": "08129876543",
                                            "address": "Jl. Sudirman No. 456, Jakarta",
                                            "latitude": "-6.21670000",
                                            "longitude": "106.82940000",
                                            "created_at": "2026-08-26T09:31:00.000000Z",
                                            "updated_at": "2026-08-26T09:31:00.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "GUEST",
                                        "your_permissions": "Unknown role",
                                        "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "WAREHOUSE",
                                            "DRIVER"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    }
                },
                "x-roles": [
                    "ADMIN",
                    "WAREHOUSE",
                    "DRIVER"
                ]
            }
        },
        "/api/freezers/{freezerId}/sales": {
            "get": {
                "tags": [
                    "Sales"
                ],
                "summary": "Sales per freezer. (ADMIN)",
                "responses": {
                    "200": {
                        "description": "Sales per freezer. Total CONFIRMED saja untuk total dan per produk. Freezer bisa berisi beberapa produk dengan harga berbeda, jadi rincian per produk lebih berguna daripada satu total freezer.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": true,
                                    "message": "Sales for freezer retrieved successfully",
                                    "data": {
                                        "freezer": {
                                            "id": 4,
                                            "store_id": 2,
                                            "code": "FRZ-RSA-002-A",
                                            "sim_number": "SIM-8888",
                                            "max_capacity_ball": 100,
                                            "tare_weight_kg": "5.00",
                                            "last_weight_kg": "75.00",
                                            "last_temperature_c": "-18.00",
                                            "last_door_status": "CLOSED",
                                            "last_seen_at": "2026-08-26T09:27:22.000000Z",
                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                            "updated_at": "2026-08-26T09:27:22.000000Z",
                                            "products": [
                                                {
                                                    "id": 1,
                                                    "code": "ICE-10",
                                                    "name": "Es Kristal 10 KG",
                                                    "weight_kg": "10.00",
                                                    "selling_price": "10000.00",
                                                    "created_at": "2026-08-26T09:27:22.000000Z",
                                                    "updated_at": "2026-08-26T09:27:22.000000Z",
                                                    "ball_equivalent": 1
                                                },
                                                {
                                                    "id": 2,
                                                    "code": "ICE-15",
                                                    "name": "Es Kristal 15 KG",
                                                    "weight_kg": "15.00",
                                                    "selling_price": "15000.00",
                                                    "created_at": "2026-08-26T09:27:22.000000Z",
                                                    "updated_at": "2026-08-26T09:27:22.000000Z",
                                                    "ball_equivalent": 1.5
                                                }
                                            ]
                                        },
                                        "sales": [
                                            {
                                                "id": 1,
                                                "store_id": 1,
                                                "freezer_id": 1,
                                                "delivery_item_id": 1,
                                                "qty_ball": "2.00",
                                                "unit_price": "10000.00",
                                                "total_amount": "20000.00",
                                                "status": "CONFIRMED",
                                                "sold_at": "2026-08-31T08:27:00.000000Z",
                                                "created_at": "2026-08-31T08:27:00.000000Z",
                                                "updated_at": "2026-08-31T08:27:00.000000Z",
                                                "store": {
                                                    "id": 1,
                                                    "code": "RSA-001",
                                                    "name": "Toko Rudi",
                                                    "owner_name": "Rudi Wijaya",
                                                    "phone": "08123456789",
                                                    "address": "Jl. Merdeka No. 123, Jakarta",
                                                    "latitude": "-6.20880000",
                                                    "longitude": "106.84560000",
                                                    "created_at": "2026-08-26T09:27:22.000000Z",
                                                    "updated_at": "2026-08-26T09:27:22.000000Z"
                                                },
                                                "freezer": {
                                                    "id": 4,
                                                    "store_id": 2,
                                                    "code": "FRZ-RSA-002-A",
                                                    "sim_number": "SIM-8888",
                                                    "max_capacity_ball": 100,
                                                    "tare_weight_kg": "5.00",
                                                    "last_weight_kg": "75.00",
                                                    "last_temperature_c": "-18.00",
                                                    "last_door_status": "CLOSED",
                                                    "last_seen_at": "2026-08-26T09:27:22.000000Z",
                                                    "created_at": "2026-08-26T09:27:22.000000Z",
                                                    "updated_at": "2026-08-26T09:27:22.000000Z",
                                                    "products": [
                                                        {
                                                            "id": 1,
                                                            "code": "ICE-10",
                                                            "name": "Es Kristal 10 KG",
                                                            "weight_kg": "10.00",
                                                            "selling_price": "10000.00",
                                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                                            "updated_at": "2026-08-26T09:27:22.000000Z",
                                                            "ball_equivalent": 1
                                                        },
                                                        {
                                                            "id": 2,
                                                            "code": "ICE-15",
                                                            "name": "Es Kristal 15 KG",
                                                            "weight_kg": "15.00",
                                                            "selling_price": "15000.00",
                                                            "created_at": "2026-08-26T09:27:22.000000Z",
                                                            "updated_at": "2026-08-26T09:27:22.000000Z",
                                                            "ball_equivalent": 1.5
                                                        }
                                                    ]
                                                },
                                                "delivery_item": {
                                                    "id": 1
                                                },
                                                "product_id": 1,
                                                "product": {
                                                    "id": 1,
                                                    "code": "ICE-10",
                                                    "name": "Es Kristal 10 KG",
                                                    "weight_kg": "10.00",
                                                    "selling_price": "10000.00",
                                                    "created_at": "2026-08-26T09:27:22.000000Z",
                                                    "updated_at": "2026-08-26T09:27:22.000000Z",
                                                    "ball_equivalent": 1
                                                }
                                            }
                                        ],
                                        "count": 1,
                                        "summary": {
                                            "total_qty_ball": 2,
                                            "total_amount": 20000,
                                            "pending_amount": 0,
                                            "avg_qty_per_sale": 2,
                                            "by_product": [
                                                {
                                                    "product": {
                                                        "id": 1,
                                                        "code": "ICE-10",
                                                        "name": "Es Kristal 10 KG",
                                                        "weight_kg": "10.00",
                                                        "selling_price": "10000.00",
                                                        "created_at": "2026-08-26T09:27:22.000000Z",
                                                        "updated_at": "2026-08-26T09:27:22.000000Z",
                                                        "ball_equivalent": 1
                                                    },
                                                    "qty_ball": 2,
                                                    "total_amount": 20000
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN. Role tidak diizinkan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenError"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "WAREHOUSE",
                                        "your_permissions": [
                                            "WAREHOUSE"
                                        ],
                                        "required_roles": "ADMIN",
                                        "allowed_permissions": [
                                            "ADMIN"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Data not found"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "freezerId",
                        "in": "path",
                        "required": true,
                        "description": "ID freezer.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "getAdminFreezersFreezeridSales",
                "x-roles": [
                    "ADMIN"
                ]
            }
        },
        "/api/productions": {
            "get": {
                "tags": [
                    "Produksi"
                ],
                "summary": "Daftar produksi (urut production_date desc). (ADMIN, WAREHOUSE)",
                "responses": {
                    "200": {
                        "description": "List produksi.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Production"
                                            }
                                        },
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "message": "Productions retrieved successfully",
                                    "data": [
                                        {
                                            "id": 3,
                                            "product_id": 1,
                                            "production_date": "2026-09-02T00:00:00.000000Z",
                                            "qty_produced_ball": "50.00",
                                            "qty_reject_ball": "5.00",
                                            "qty_good_ball": "45.00",
                                            "created_by": 1,
                                            "status": "POSTED",
                                            "created_at": "2026-09-02T03:27:46.000000Z",
                                            "updated_at": "2026-09-02T03:29:03.000000Z",
                                            "product": {
                                                "id": 1,
                                                "code": "ICE-10",
                                                "name": "Es Kristal 10 KG",
                                                "weight_kg": "10.00",
                                                "selling_price": "10000.00",
                                                "created_at": "2026-08-26T14:52:53.000000Z",
                                                "updated_at": "2026-08-26T14:52:53.000000Z"
                                            },
                                            "creator": {
                                                "id": 1,
                                                "username": "admin",
                                                "email": "admin@icefactory.local",
                                                "role": "ADMIN",
                                                "created_at": "2026-08-26T14:52:53.000000Z",
                                                "updated_at": "2026-08-26T14:52:53.000000Z"
                                            }
                                        }
                                    ],
                                    "count": 1
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonObject"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Unauthenticated",
                                    "error": "Missing or invalid API token. Please login first."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE. Role tidak diizinkan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForbiddenError"
                                },
                                "example": {
                                    "message": "Forbidden",
                                    "error": "Access denied",
                                    "details": {
                                        "your_role": "DRIVER",
                                        "your_permissions": "Freezer confirmation and payment collection",
                                        "required_roles": "ADMIN, WAREHOUSE",
                                        "allowed_permissions": [
                                            "ADMIN",
                                            "WAREHOUSE"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                },
                                "example": {
                                    "success": false,
                                    "message": "Internal server error",
                                    "error": "Exception message ..."
                                }
                            }
                        }
                    }
                },
                "operationId": "getAdminProductions",
                "parameters": [
                    {
                        "name": "warehouse_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1,
                        "description": "Hanya produksi dari gudang ini."
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1,
                        "description": "Hanya produksi produk ini."
                    }
                ],
                "x-roles": [
                    "ADMIN",
                    "WAREHOUSE"
                ]
            }
        },
        "/api/productions/{productionId}": {
[...]
