{
  "openapi": "3.0.3",
  "info": {
    "title": "Ice Factory API — Arima Digital",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ice-factory.arimadigital.co.id",
      "description": "Production (diganti otomatis jadi APP_URL oleh package swagger-ui saat dirilis)"
    }
  ],
  "tags": [
    {
      "name": "Autentikasi",
      "description": "Login, profil, token, logout."
    },
    {
      "name": "User Management",
      "description": "Manajemen user (khusus ADMIN)."
    },
    {
      "name": "Dashboard & Laporan",
      "description": "KPI, rincian harian, mingguan, dan P&L bulanan (khusus ADMIN)."
    },
    {
      "name": "Settlement & Piutang",
      "description": "Piutang/outstanding, overdue, riwayat settlement per toko (khusus ADMIN)."
    },
    {
      "name": "Payment",
      "description": "Pencatatan & konfirmasi pembayaran, upload bukti transfer/QRIS."
    },
    {
      "name": "Sales",
      "description": "Laporan penjualan (read-only; sales dibuat otomatis dari konfirmasi freezer)."
    },
    {
      "name": "Produksi",
      "description": "Siklus produksi: buat DRAFT -> post/kunci -> stok tersedia untuk pengiriman."
    },
    {
      "name": "Pengiriman",
      "description": "Rencana -> mulai -> konfirmasi -> selesai pengiriman (tracking stok es)."
    },
    {
      "name": "Delivery Items & Freezer",
      "description": "Konfirmasi kunjungan freezer oleh driver + saran isi ulang dari data IoT."
    },
    {
      "name": "Master Data",
      "description": "Master data: produk, toko, kendaraan, gudang."
    }
  ],
  "paths": {
    "/admin/dashboard/daily": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Rincian harian per toko yang punya penjualan di tanggal tsb. (ADMIN)",
        "responses": {
          "200": {
            "description": "Rincian harian.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Daily breakdown retrieved successfully",
                  "data": {
                    "date": "2026-08-26",
                    "stores": [
                      {
                        "store_id": 1,
                        "store_name": "Toko Rudi",
                        "store_owner": "Rudi Wijaya",
                        "sales_amount_today": "20000.00",
                        "sales_qty_today": "2.00",
                        "delivered_qty_today": "3.00",
                        "outstanding_balance": 70000,
                        "days_outstanding": 5,
                        "is_overdue": false
                      }
                    ],
                    "summary": {
                      "total_stores_active": 1,
                      "total_sales": 20000,
                      "total_qty": 2,
                      "total_delivered": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Tanggal (opsional). Default hari ini.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardDaily"
      }
    },
    "/admin/dashboard/monthly-pl": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Monthly Profit & Loss. Revenue pakai payment CONFIRMED; expense status APPROVED. (ADMIN)",
        "responses": {
          "200": {
            "description": "P&L bulanan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Monthly P&L retrieved successfully",
                  "data": {
                    "month": "2026-08",
                    "month_name": "August 2026",
                    "revenue": {
                      "total_sales_amount": "20000.00",
                      "total_collected": "100000.00",
                      "outstanding_not_counted": "70000.00",
                      "revenue_for_pl": "100000.00"
                    },
                    "expenses": {
                      "total_expenses": "25000.00",
                      "breakdown": [
                        {
                          "category": "OPERATIONAL",
                          "total": "25000.00",
                          "count": 1
                        }
                      ]
                    },
                    "profit_loss": {
                      "net_profit": "75000.00",
                      "profit_margin_percent": 75.0,
                      "status": "PROFIT"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Bulan (opsional). Format YYYY-MM, default bulan berjalan.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardMonthlyPl"
      }
    },
    "/admin/dashboard/summary": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Ringkasan KPI 1 halaman untuk admin. (ADMIN)",
        "responses": {
          "200": {
            "description": "Ringkasan KPI.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Dashboard summary retrieved successfully",
                  "data": {
                    "date": "2026-08-26",
                    "kpi_cards": {
                      "total_revenue_today": "20000.00",
                      "total_sales_qty_today": "2.00",
                      "warehouse_stock_available": 108,
                      "outstanding_amount": 70000,
                      "overdue_amount_7plus_days": 0,
                      "active_deliveries_in_progress": 1,
                      "pending_payments_count": 0,
                      "pending_payments_amount": "0.00"
                    },
                    "additional_metrics": {
                      "today_collection": "100000.00",
                      "collection_rate_percent": 100.0,
                      "completed_deliveries_today": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Tanggal (opsional). Default hari ini.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardSummary"
      }
    },
    "/admin/dashboard/weekly": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Ringkasan mingguan (7 hari). (ADMIN)",
        "responses": {
          "200": {
            "description": "Ringkasan mingguan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Weekly summary retrieved successfully",
                  "data": {
                    "week_start": "2026-08-24",
                    "week_end": "2026-08-30",
                    "daily_breakdown": [
                      {
                        "date": "2026-08-26",
                        "day_name": "Wednesday",
                        "revenue": "20000.00",
                        "qty_sold": "2.00",
                        "delivered_qty": "3.00",
                        "collection": "100000.00"
                      }
                    ],
                    "top_performing_stores": [
                      {
                        "store_id": 1,
                        "store_name": "Toko Rudi",
                        "week_sales": "20000.00"
                      }
                    ],
                    "summary": {
                      "total_revenue": "20000.00",
                      "total_qty_sold": "2.00",
                      "total_delivered": "3.00",
                      "total_collection": "100000.00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Tanggal awal minggu (opsional). Default startOfWeek.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardWeekly"
      }
    },
    "/admin/deliveries": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Daftar semua pengiriman (tanpa item). (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "List pengiriman.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Deliveries retrieved successfully",
                  "data": [
                    {
                      "id": 3,
                      "delivery_date": "2026-08-26T00:00:00.000000Z",
                      "driver_id": 3,
                      "vehicle_id": 1,
                      "warehouse_id": 1,
                      "initial_qty_loaded_ball": "5.00",
                      "total_qty_delivered_ball": "3.00",
                      "total_qty_returned_ball": "2.00",
                      "status": "COMPLETED",
                      "notes": "High priority untuk RSA-001",
                      "started_at": "2026-08-26T09:42:12.000000Z",
                      "completed_at": "2026-08-26T13:43:21.000000Z",
                      "created_at": "2026-08-26T09:40:40.000000Z",
                      "updated_at": "2026-08-26T13:43:21.000000Z",
                      "driver": {
                        "id": 3,
                        "username": "driver_1",
                        "email": "driver1@icefactory.local",
                        "role": "DRIVER",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z"
                      },
                      "vehicle": {
                        "id": 1,
                        "code": "V-001",
                        "plate_number": "B 1234 ABC",
                        "name": "Truck A",
                        "created_at": "2026-08-26T14:52:53.000000Z",
                        "updated_at": "2026-08-26T14:52:53.000000Z"
                      }
                    }
                  ],
                  "count": 1
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "operationId": "getAdminDeliveries"
      },
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Buat rencana pengiriman (DRAFT). Cek stok gudang & role driver. (ADMIN, WAREHOUSE)",
        "responses": {
          "201": {
            "description": "Delivery plan dibuat.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery plan created successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validasi gagal (format custom).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailedError"
                },
                "example": {
                  "success": false,
                  "message": "Validation failed",
                  "errors": {
                    "code": [
                      "The code has already been taken."
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "driver_id": 3,
                "vehicle_id": 1,
                "warehouse_id": 1,
                "delivery_date": "2026-08-26",
                "initial_qty_loaded_ball": 10,
                "notes": "High priority untuk RSA-001"
              }
            }
          }
        },
        "operationId": "postAdminDeliveries"
      }
    },
    "/admin/deliveries/{deliveryId}/items": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Daftar item dalam satu pengiriman. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "List delivery items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery items retrieved successfully",
                  "data": [
                    {
                      "id": 6,
                      "delivery_id": 3,
                      "store_id": 2,
                      "freezer_id": 4,
                      "confirmed_stock_before_ball": "3.00",
                      "delivered_qty_ball": "3.00",
                      "photo_stock_before": [
                        "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                      ],
                      "photo_delivered": [
                        "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                      ],
                      "visited_at": "2026-08-26T09:47:13.000000Z",
                      "store": {
                        "id": 2,
                        "code": "RSA-002",
                        "name": "Toko Budi",
                        "owner_name": "Budi Santoso",
                        "phone": "08129876543",
                        "address": "Jl. Sudirman No. 456, Jakarta",
                        "latitude": "-6.21670000",
                        "longitude": "106.82940000",
                        "created_at": "2026-08-26T14:52:53.000000Z",
                        "updated_at": "2026-08-26T14:52:53.000000Z"
                      },
                      "freezer": {
                        "id": 4,
                        "store_id": 2,
                        "product_id": 1,
                        "code": "FRZ-RSA-002-A",
                        "sim_number": "SIM-8888",
                        "max_capacity_ball": 100,
                        "tare_weight_kg": "5.00",
                        "last_weight_kg": "75.00",
                        "last_temperature_c": "-18.00",
                        "last_door_status": "CLOSED",
                        "last_seen_at": "2026-08-26T09:27:22.000000Z",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z"
                      }
                    }
                  ],
                  "count": 1
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveriesDeliveryidItems"
      }
    },
    "/admin/deliveries/{id}": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Detail pengiriman beserta driver, vehicle & delivery items. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "Delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery retrieved successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveriesId"
      },
      "put": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Update rencana — hanya DRAFT. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery diupdate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery updated successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validasi gagal (format custom).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailedError"
                },
                "example": {
                  "success": false,
                  "message": "Validation failed",
                  "errors": {
                    "code": [
                      "The code has already been taken."
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "initial_qty_loaded_ball": 8
              }
            }
          }
        },
        "operationId": "putAdminDeliveriesId"
      },
      "delete": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Hapus rencana — hanya DRAFT. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery dihapus.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery deleted successfully"
                }
              }
            }
          },
          "422": {
            "description": "Bukan DRAFT.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "Only DRAFT deliveries can be deleted",
                  "current_status": "IN_PROGRESS"
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "deleteAdminDeliveriesId"
      }
    },
    "/admin/deliveries/{id}/complete": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Selesaikan pengiriman (IN_PROGRESS -> COMPLETED). Wajib balance: loaded = delivered + returned. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery selesai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery completed successfully",
                  "summary": {
                    "delivery_id": 3,
                    "status": "COMPLETED",
                    "loaded": "5.00",
                    "delivered": "3.00",
                    "returned": "2.00",
                    "balance_verified": true
                  },
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bukan IN_PROGRESS / balan tidak match / validasi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "Delivery balance does not match",
                  "balance": {
                    "loaded": "5.00",
                    "delivered": "3.00",
                    "returned": "1.00",
                    "total": "4.00"
                  },
                  "error": "Loaded (5.00) ≠ Delivered + Returned (3.00 + 1.00)"
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "total_qty_returned_ball": 2
              }
            }
          }
        },
        "operationId": "postAdminDeliveriesIdComplete"
      }
    },
    "/admin/deliveries/{id}/start": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Mulai pengiriman (DRAFT -> IN_PROGRESS). Cek stok. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery dimulai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery started successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "IN_PROGRESS",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": null,
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bukan DRAFT / stok kurang.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "Insufficient warehouse stock to start delivery",
                  "available": 108,
                  "required": 200
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "postAdminDeliveriesIdStart"
      }
    },
    "/admin/deliveries/{id}/summary": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Ringkasan progress satu pengiriman. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "Summary delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery summary retrieved successfully",
                  "data": {
                    "delivery_id": 3,
                    "status": "IN_PROGRESS",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "delivery_date": "2026-08-26",
                    "initial_load": "5.00",
                    "total_delivered": "3.00",
                    "current_load": "2.00",
                    "stops_completed": 2,
                    "notes": "High priority untuk RSA-001"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveriesIdSummary"
      }
    },
    "/admin/delivery-items/confirm": {
      "post": {
        "tags": [
          "Delivery Items & Freezer"
        ],
        "summary": "Konfirmasi kunjungan driver ke freezer (multipart/form-data + foto opsional). Otomatis hitung & catat sales bila ada selisih stok. (ADMIN, DRIVER)",
        "responses": {
          "201": {
            "description": "Freezer dikonfirmasi & sales terhitung.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Freezer confirmed successfully",
                  "data": {
                    "delivery_item": {
                      "id": 6,
                      "delivery_id": 3,
                      "store_id": 2,
                      "freezer_id": 4,
                      "confirmed_stock_before_ball": "3.00",
                      "delivered_qty_ball": "3.00",
                      "photo_stock_before": [
                        "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                      ],
                      "photo_delivered": [
                        "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                      ],
                      "visited_at": "2026-08-26T09:47:13.000000Z",
                      "store": {
                        "id": 2,
                        "code": "RSA-002",
                        "name": "Toko Budi",
                        "owner_name": "Budi Santoso",
                        "phone": "08129876543",
                        "address": "Jl. Sudirman No. 456, Jakarta",
                        "latitude": "-6.21670000",
                        "longitude": "106.82940000",
                        "created_at": "2026-08-26T14:52:53.000000Z",
                        "updated_at": "2026-08-26T14:52:53.000000Z"
                      },
                      "freezer": {
                        "id": 4,
                        "store_id": 2,
                        "product_id": 1,
                        "code": "FRZ-RSA-002-A",
                        "sim_number": "SIM-8888",
                        "max_capacity_ball": 100,
                        "tare_weight_kg": "5.00",
                        "last_weight_kg": "75.00",
                        "last_temperature_c": "-18.00",
                        "last_door_status": "CLOSED",
                        "last_seen_at": "2026-08-26T09:27:22.000000Z",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z"
                      }
                    },
                    "photos": {
                      "photo_stock_before_urls": [
                        "/storage/delivery-items/stock-before/xxxx.jpg"
                      ],
                      "photo_delivered_urls": [
                        "/storage/delivery-items/delivered/yyyy.png"
                      ]
                    },
                    "sales_calculated": true,
                    "qty_sold": 2,
                    "sales_amount": 20000,
                    "sale_record": {
                      "id": 1,
                      "store_id": 1,
                      "freezer_id": 1,
                      "delivery_item_id": 1,
                      "qty_ball": "2.00",
                      "unit_price": "10000.00",
                      "total_amount": "20000.00",
                      "status": "CONFIRMED",
                      "sold_at": "2026-08-31T08:27:00.000000Z",
                      "created_at": "2026-08-31T08:27:00.000000Z",
                      "updated_at": "2026-08-31T08:27:00.000000Z",
                      "store": {
                        "id": 1,
                        "code": "RSA-001",
                        "name": "Toko Rudi",
                        "owner_name": "Rudi Wijaya",
                        "phone": "08123456789",
                        "address": "Jl. Merdeka No. 123, Jakarta",
                        "latitude": "-6.20880000",
                        "longitude": "106.84560000",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z"
                      },
                      "freezer": {
                        "id": 4,
                        "store_id": 2,
                        "product_id": 1,
                        "code": "FRZ-RSA-002-A",
                        "sim_number": "SIM-8888",
                        "max_capacity_ball": 100,
                        "tare_weight_kg": "5.00",
                        "last_weight_kg": "75.00",
                        "last_temperature_c": "-18.00",
                        "last_door_status": "CLOSED",
                        "last_seen_at": "2026-08-26T09:27:22.000000Z",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z"
                      },
                      "delivery_item": {
                        "id": 1
                      }
                    },
                    "note": "Sales auto-calculated from previous delivery"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validasi / delivery bukan IN_PROGRESS / freezer sudah dikonfirmasi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "This freezer already confirmed for this delivery"
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "delivery_id": 3,
                "store_id": 2,
                "freezer_id": 4,
                "confirmed_stock_before_ball": 3,
                "delivered_qty_ball": 3,
                "photo_stock_before[]": "(file, jpeg/png/jpg, max 5MB, opsional)",
                "photo_delivered[]": "(file, jpeg/png/jpg, max 5MB, opsional)"
              }
            }
          }
        },
        "operationId": "postAdminDeliveryItemsConfirm"
      }
    },
    "/admin/delivery-items/{id}": {
      "get": {
        "tags": [
          "Delivery Items & Freezer"
        ],
        "summary": "Detail satu delivery item + sales terkait. (ADMIN, DRIVER)",
        "responses": {
          "200": {
            "description": "Delivery item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery item retrieved successfully",
                  "data": {
                    "id": 6,
                    "delivery_id": 3,
                    "store_id": 2,
                    "freezer_id": 4,
                    "confirmed_stock_before_ball": "3.00",
                    "delivered_qty_ball": "3.00",
                    "photo_stock_before": [
                      "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                    ],
                    "photo_delivered": [
                      "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                    ],
                    "visited_at": "2026-08-26T09:47:13.000000Z",
                    "store": {
                      "id": 2,
                      "code": "RSA-002",
                      "name": "Toko Budi",
                      "owner_name": "Budi Santoso",
                      "phone": "08129876543",
                      "address": "Jl. Sudirman No. 456, Jakarta",
                      "latitude": "-6.21670000",
                      "longitude": "106.82940000",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "freezer": {
                      "id": 4,
                      "store_id": 2,
                      "product_id": 1,
                      "code": "FRZ-RSA-002-A",
                      "sim_number": "SIM-8888",
                      "max_capacity_ball": 100,
                      "tare_weight_kg": "5.00",
                      "last_weight_kg": "75.00",
                      "last_temperature_c": "-18.00",
                      "last_door_status": "CLOSED",
                      "last_seen_at": "2026-08-26T09:27:22.000000Z",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID delivery item",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveryItemsId"
      }
    },
    "/admin/freezers/{freezerId}/delivery-items": {
      "get": {
        "tags": [
          "Delivery Items & Freezer"
        ],
        "summary": "Riwayat kunjungan per freezer + statistik. (ADMIN, DRIVER)",
        "responses": {
          "200": {
            "description": "Delivery items freezer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery items for freezer retrieved successfully",
                  "data": {
                    "freezer": {
                      "id": 4,
                      "store_id": 2,
                      "product_id": 1,
                      "code": "FRZ-RSA-002-A",
                      "sim_number": "SIM-8888",
                      "max_capacity_ball": 100,
                      "tare_weight_kg": "5.00",
                      "last_weight_kg": "75.00",
                      "last_temperature_c": "-18.00",
                      "last_door_status": "CLOSED",
                      "last_seen_at": "2026-08-26T09:27:22.000000Z",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "delivery_items": [
                      {
                        "id": 6,
                        "delivery_id": 3,
                        "store_id": 2,
                        "freezer_id": 4,
                        "confirmed_stock_before_ball": "3.00",
                        "delivered_qty_ball": "3.00",
                        "photo_stock_before": [
                          "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                        ],
                        "photo_delivered": [
                          "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                        ],
                        "visited_at": "2026-08-26T09:47:13.000000Z",
                        "store": {
                          "id": 2,
                          "code": "RSA-002",
                          "name": "Toko Budi",
                          "owner_name": "Budi Santoso",
                          "phone": "08129876543",
                          "address": "Jl. Sudirman No. 456, Jakarta",
                          "latitude": "-6.21670000",
                          "longitude": "106.82940000",
                          "created_at": "2026-08-26T14:52:53.000000Z",
                          "updated_at": "2026-08-26T14:52:53.000000Z"
                        },
                        "freezer": {
                          "id": 4,
                          "store_id": 2,
                          "product_id": 1,
                          "code": "FRZ-RSA-002-A",
                          "sim_number": "SIM-8888",
                          "max_capacity_ball": 100,
                          "tare_weight_kg": "5.00",
                          "last_weight_kg": "75.00",
                          "last_temperature_c": "-18.00",
                          "last_door_status": "CLOSED",
                          "last_seen_at": "2026-08-26T09:27:22.000000Z",
                          "created_at": "2026-08-26T09:27:22.000000Z",
                          "updated_at": "2026-08-26T09:27:22.000000Z"
                        }
                      }
                    ],
                    "count": 1,
                    "stats": {
                      "total_delivered_ball": "3.00",
                      "total_sales_amount": 20000,
                      "avg_delivery_ball": 3.0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "freezerId",
            "in": "path",
            "required": true,
            "description": "ID freezer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminFreezersFreezeridDeliveryItems"
      }
    },
    "/admin/freezers/{freezerId}/sales": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Sales per freezer. (ADMIN)",
        "responses": {
          "200": {
            "description": "Sales freezer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Sales for freezer retrieved successfully",
                  "data": {
                    "freezer": {
                      "id": 4,
                      "store_id": 2,
                      "product_id": 1,
                      "code": "FRZ-RSA-002-A",
                      "sim_number": "SIM-8888",
                      "max_capacity_ball": 100,
                      "tare_weight_kg": "5.00",
                      "last_weight_kg": "75.00",
                      "last_temperature_c": "-18.00",
                      "last_door_status": "CLOSED",
                      "last_seen_at": "2026-08-26T09:27:22.000000Z",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "sales": [
                      {
                        "id": 1,
                        "store_id": 1,
                        "freezer_id": 1,
                        "delivery_item_id": 1,
                        "qty_ball": "2.00",
                        "unit_price": "10000.00",
                        "total_amount": "20000.00",
                        "status": "CONFIRMED",
                        "sold_at": "2026-08-31T08:27:00.000000Z",
                        "created_at": "2026-08-31T08:27:00.000000Z",
                        "updated_at": "2026-08-31T08:27:00.000000Z",
                        "store": {
                          "id": 1,
                          "code": "RSA-001",
                          "name": "Toko Rudi",
                          "owner_name": "Rudi Wijaya",
                          "phone": "08123456789",
                          "address": "Jl. Merdeka No. 123, Jakarta",
                          "latitude": "-6.20880000",
                          "longitude": "106.84560000",
                          "created_at": "2026-08-26T09:27:22.000000Z",
                          "updated_at": "2026-08-26T09:27:22.000000Z"
                        },
                        "freezer": {
                          "id": 4,
                          "store_id": 2,
                          "product_id": 1,
                          "code": "FRZ-RSA-002-A",
                          "sim_number": "SIM-8888",
                          "max_capacity_ball": 100,
                          "tare_weight_kg": "5.00",
                          "last_weight_kg": "75.00",
                          "last_temperature_c": "-18.00",
                          "last_door_status": "CLOSED",
                          "last_seen_at": "2026-08-26T09:27:22.000000Z",
                          "created_at": "2026-08-26T09:27:22.000000Z",
                          "updated_at": "2026-08-26T09:27:22.000000Z"
                        },
                        "delivery_item": {
                          "id": 1
                        }
                      }
                    ],
                    "count": 1,
                    "summary": {
                      "total_qty_ball": "2.00",
                      "total_amount": "20000.00",
                      "avg_qty_per_sale": "2.00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "freezerId",
            "in": "path",
            "required": true,
            "description": "ID freezer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminFreezersFreezeridSales"
      }
    },
    "/admin/freezers/{freezerId}/suggestion": {
      "get": {
        "tags": [
          "Delivery Items & Freezer"
        ],
        "summary": "Saran isi ulang freezer dari data IoT (stok estimasi & jumlah ball yang disarankan). (ADMIN, DRIVER)",
        "responses": {
          "200": {
            "description": "Saran freezer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Freezer suggestion retrieved successfully",
                  "data": {
                    "freezer_id": 4,
                    "freezer_code": "FRZ-RSA-002-A",
                    "store": {
                      "id": 2,
                      "code": "RSA-002",
                      "name": "Toko Budi",
                      "owner_name": "Budi Santoso",
                      "phone": "08129876543",
                      "address": "Jl. Sudirman No. 456, Jakarta",
                      "latitude": "-6.21670000",
                      "longitude": "106.82940000",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "iot_data": {
                      "last_weight_kg": "75.00",
                      "tare_weight_kg": "5.00",
                      "net_weight_kg": 70,
                      "last_temperature_c": "-18.00",
                      "last_door_status": "CLOSED",
                      "last_seen_at": "2026-08-26T09:27:22.000000Z",
                      "last_seen_minutes_ago": 5
                    },
                    "suggestion": {
                      "estimated_stock_ball": 7.0,
                      "max_capacity_ball": 100,
                      "suggested_delivery_ball": 3,
                      "confidence": "HIGH",
                      "note": "Terakhir terlihat 5 menit lalu"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "freezerId",
            "in": "path",
            "required": true,
            "description": "ID freezer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminFreezersFreezeridSuggestion"
      }
    },
    "/admin/payments/collect": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Catat pembayaran toko. CASH langsung CONFIRMED; TRANSFER/QRIS jadi PENDING. (ADMIN, DRIVER)",
        "responses": {
          "201": {
            "description": "Pembayaran tercatat.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "$ref": "#/components/schemas/Payment"
                        },
                        "store": {
                          "$ref": "#/components/schemas/Store"
                        },
                        "status_note": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Payment recorded successfully",
                  "data": {
                    "payment": {
                      "id": 3,
                      "settlement_id": null,
                      "store_id": 2,
                      "amount": "70000.00",
                      "method": "CASH",
                      "payment_type": "TODAY",
                      "reference": null,
                      "status": "CONFIRMED",
                      "paid_at": "2026-08-26T14:55:47.000000Z",
                      "created_at": "2026-08-26T14:55:47.000000Z",
                      "updated_at": "2026-08-26T14:55:47.000000Z"
                    },
                    "store": {
                      "id": 2,
                      "code": "RSA-002",
                      "name": "Toko Budi",
                      "owner_name": "Budi Santoso",
                      "phone": "08129876543",
                      "address": "Jl. Sudirman No. 456, Jakarta",
                      "latitude": "-6.21670000",
                      "longitude": "106.82940000",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "status_note": "Payment confirmed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validasi gagal (format custom).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailedError"
                },
                "example": {
                  "success": false,
                  "message": "Validation failed",
                  "errors": {
                    "code": [
                      "The code has already been taken."
                    ]
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "store_id": 2,
                "amount": 70000,
                "method": "CASH",
                "payment_type": "TODAY",
                "notes": "Lunas untuk minggu ini"
              }
            }
          }
        },
        "operationId": "postAdminPaymentsCollect"
      }
    },
    "/admin/payments/pending/all": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Daftar payment PENDING non-CASH (urut bukti paling lama). (ADMIN)",
        "responses": {
          "200": {
            "description": "Pending payments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Pending payments retrieved successfully",
                  "data": {
                    "payments": [],
                    "count": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "operationId": "getAdminPaymentsPendingAll"
      }
    },
    "/admin/payments/summary/all": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Ringkasan pembayaran (status/method/type/by store/by date). (ADMIN)",
        "responses": {
          "200": {
            "description": "Ringkasan payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Payment summary retrieved successfully",
                  "data": {
                    "total_payments": 1,
                    "total_amount": "70000.00",
                    "breakdown_by_status": {
                      "CONFIRMED": 1,
                      "PENDING": 0,
                      "REJECTED": 0
                    },
                    "breakdown_by_method": {
                      "CASH": "70000.00",
                      "TRANSFER": "0.00",
                      "QRIS": "0.00"
                    },
                    "breakdown_by_type": {
                      "TODAY": 1,
                      "PAST_DAYS": 0,
                      "DEBT": 0
                    },
                    "by_store": [
                      {
                        "store_id": 2,
                        "store_name": "Toko Budi",
                        "total_amount": "70000.00",
                        "count": 1,
                        "confirmed": 1,
                        "pending": 0
                      }
                    ],
                    "by_date": [
                      {
                        "date": "2026-08-26",
                        "total_amount": "70000.00",
                        "count": 1,
                        "confirmed": 1,
                        "pending": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bukan request yang terautentikasi (CheckRole).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                },
                "example": {
                  "message": "Unauthorized",
                  "error": "User not authenticated. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
[...]
