{
  "openapi": "3.0.3",
  "info": {
    "title": "Ice Factory API — Arima Digital",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary — PT Arima Digital",
      "url": "https://www.arimadigital.co.id"
    },
    "description": "# Kontrak response\n\nSemua endpoint `/api` (kecuali `POST /api/auth/login` dan `GET|POST /api/iot/sync`)\nmemerlukan header:\n\n```\nAuthorization: Bearer <token>\n```\n\nToken didapat dari `POST /api/auth/login`. Tanpa header yang valid, endpoint\nmengembalikan **401** dengan bentuk berikut, apa pun endpoint-nya:\n\n```json\n{\n  \"message\": \"Unauthenticated\",\n  \"error\": \"Missing or invalid API token. Please login first.\"\n}\n```\n\n## 403 Forbidden\n\nToken valid, tapi role tidak diizinkan. Bentuk body mengikuti role yang mencoba:\n\n```json\n{\n  \"message\": \"Forbidden\",\n  \"error\": \"Access denied\",\n  \"details\": {\n    \"your_role\": \"WAREHOUSE\",\n    \"your_permissions\": \"Production management and delivery planning\",\n    \"required_roles\": \"ADMIN\",\n    \"allowed_permissions\": [\"Full access to dashboard, reporting, user management, and all operations\"]\n  }\n}\n```\n\n`required_roles` pada setiap endpoint ditulis di bagian `403` di spec, jadi tidak\nperlu menebak role apa yang boleh.\n\n## 404 Not Found\n\nBentuknya mengikuti resource yang dipanggil, supaya client bisa cocokkan pada\npesan bukan pada path:\n\n```json\n{ \"success\": false, \"message\": \"Store not found\" }\n```\n\n## 422 Unprocessable Entity\n\nValidasi gagal atau aturan bisnis menolak. Dua bentuk berbeda ada di API ini,\njadi client sebaiknya cek keberadaan key `errors`:\n\n```json\n{ \"success\": false, \"message\": \"Validation failed\", \"errors\": { \"stores\": [\"The stores field is required.\"] } }\n```\n\n```json\n{ \"success\": false, \"message\": \"This store is not on the delivery route\" }\n```\n\n## Kode yang dipakai\n\n| Kode | Arti |\n| --- | --- |\n| 200 | Berhasil |\n| 201 | resource dibuat (`POST /api/deliveries`, `POST /api/delivery-items/confirm`) |\n| 400 | parameter path tidak valid, misal `role` di `GET /api/users/role/{role}` |\n| 401 | tidak terautentikasi |\n| 403 | role tidak diizinkan |\n| 404 | id tidak ada |\n| 422 | validasi atau aturan bisnis menolak |\n| 500 | exception yang tidak tertangani |\n"
  },
  "servers": [
    {
      "url": "https://ice-factory.arimadigital.co.id",
      "description": "Production (diganti otomatis jadi APP_URL oleh package swagger-ui saat dirilis)"
    }
  ],
  "tags": [
    {
      "name": "Autentikasi",
      "description": "Login, profil, token, logout."
    },
    {
      "name": "User Management",
      "description": "Manajemen user (khusus ADMIN)."
    },
    {
      "name": "Dashboard & Laporan",
      "description": "KPI, rincian harian, mingguan, dan P&L bulanan (khusus ADMIN)."
    },
    {
      "name": "Settlement & Piutang",
      "description": "Piutang/outstanding, overdue, riwayat settlement per toko (khusus ADMIN)."
    },
    {
      "name": "Payment",
      "description": "Pencatatan & konfirmasi pembayaran, upload bukti transfer/QRIS."
    },
    {
      "name": "Sales",
      "description": "Laporan penjualan, pencatatan penjualan oleh driver, dan persetujuan admin. Penjualan dicatat driver lewat `POST /api/delivery-items/{id}/sales` (tidak lagi dihitung otomatis dari selisih berat), berstatus PENDING sampai admin menyetujui lewat `POST /api/sales/{id}/approve` atau menolak lewat `POST /api/sales/{id}/reject`. Hanya CONFIRMED yang masuk piutang."
    },
    {
      "name": "Produksi",
      "description": "Siklus produksi: buat DRAFT -> post/kunci -> stok tersedia untuk pengiriman."
    },
    {
      "name": "Pengiriman",
      "description": "Rencana -> mulai -> konfirmasi -> selesai pengiriman (tracking stok es)."
    },
    {
      "name": "Delivery Items & Freezer",
      "description": "Konfirmasi kunjungan freezer oleh driver per pasangan freezer/produk, saran isi ulang dari data IoT, dan pencatatan penjualan. Satu freezer bisa berisi beberapa produk."
    },
    {
      "name": "Master Data",
      "description": "Master data: produk, toko, kendaraan, gudang."
    },
    {
      "name": "IoT Integration",
      "description": "Integrasi IoT freezer (berat/temperatur/pintu): PULL via `php artisan iot:sync` (scheduler), PUSH via webhook `/api/iot/logs` (header `X-Device-Token`). Endpoint admin untuk monitoring & trigger manual."
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Login — ambil Bearer token. Satu-satunya endpoint publik.",
        "responses": {
          "200": {
            "description": "Login berhasil.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                },
                "example": {
                  "message": "Login successful",
                  "user": {
                    "id": 1,
                    "username": "admin",
                    "email": "admin@icefactory.local",
                    "role": "ADMIN",
                    "created_at": "2026-08-26T14:52:53.000000Z",
                    "updated_at": "2026-08-26T14:52:53.000000Z"
                  },
                  "token": "1|DacxhbJfOLvzKaAAojmtw3L0bliQg1dweFrVZvYA8835d45b",
                  "expires_in": 2592000
                }
              }
            }
          },
          "422": {
            "description": "Username/password salah — bentuk default Laravel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "message": "The provided credentials are incorrect.",
                  "errors": {
                    "username": [
                      "The provided credentials are incorrect."
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "username": "admin",
                "password": "password123"
              }
            }
          }
        },
        "operationId": "postAuthLogin"
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Logout — hapus token yang sekarang dipakai.",
        "responses": {
          "200": {
            "description": "Logout berhasil.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Logout successful"
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          }
        },
        "operationId": "postAuthLogout"
      }
    },
    "/api/auth/logout-all": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Logout dari semua perangkat (semua token user direvoke).",
        "responses": {
          "200": {
            "description": "Semua token direvoke.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Logged out from all devices"
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          }
        },
        "operationId": "postAuthLogoutAll"
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Profil user yang sedang login.",
        "responses": {
          "200": {
            "description": "Profil user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "user": {
                    "id": 1,
                    "username": "admin",
                    "email": "admin@icefactory.local",
                    "role": "ADMIN",
                    "created_at": "2026-08-26T14:52:53.000000Z",
                    "updated_at": "2026-08-26T14:52:53.000000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          }
        },
        "operationId": "getAuthMe"
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Refresh token. Semua token lama user direvoke, dikeluarkan token baru.",
        "responses": {
          "200": {
            "description": "Token baru.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Token refreshed successfully",
                  "token": "9|G7x8Y9zA0bC1dE2fG3hI4jK5lM6nO7pQ8rS9tU0vW",
                  "expires_in": 2592000
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          }
        },
        "operationId": "postAuthRefresh"
      }
    },
    "/api/dashboard/daily": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Rincian harian per toko yang punya penjualan di tanggal tsb. (ADMIN)",
        "responses": {
          "200": {
            "description": "Rincian harian.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Daily breakdown retrieved successfully",
                  "data": {
                    "date": "2026-08-26",
                    "stores": [
                      {
                        "store_id": 1,
                        "store_name": "Toko Rudi",
                        "store_owner": "Rudi Wijaya",
                        "sales_amount_today": "20000.00",
                        "sales_qty_today": "2.00",
                        "delivered_qty_today": "3.00",
                        "outstanding_balance": 70000,
                        "days_outstanding": 5,
                        "is_overdue": false
                      }
                    ],
                    "summary": {
                      "total_stores_active": 1,
                      "total_sales": 20000,
                      "total_qty": 2,
                      "total_delivered": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Tanggal (opsional). Default hari ini.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardDaily"
      }
    },
    "/api/dashboard/monthly-pl": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Monthly Profit & Loss. Revenue pakai payment CONFIRMED; expense status APPROVED. (ADMIN)",
        "responses": {
          "200": {
            "description": "P&L bulanan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Monthly P&L retrieved successfully",
                  "data": {
                    "month": "2026-08",
                    "month_name": "August 2026",
                    "revenue": {
                      "total_sales_amount": "20000.00",
                      "total_collected": "100000.00",
                      "outstanding_not_counted": "70000.00",
                      "revenue_for_pl": "100000.00"
                    },
                    "expenses": {
                      "total_expenses": "25000.00",
                      "breakdown": [
                        {
                          "category": "OPERATIONAL",
                          "total": "25000.00",
                          "count": 1
                        }
                      ]
                    },
                    "profit_loss": {
                      "net_profit": "75000.00",
                      "profit_margin_percent": 75.0,
                      "status": "PROFIT"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Bulan (opsional). Format YYYY-MM, default bulan berjalan.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardMonthlyPl"
      }
    },
    "/api/dashboard/summary": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Ringkasan KPI 1 halaman untuk admin. (ADMIN)",
        "responses": {
          "200": {
            "description": "Ringkasan KPI.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Dashboard summary retrieved successfully",
                  "data": {
                    "date": "2026-08-26",
                    "kpi_cards": {
                      "total_revenue_today": "20000.00",
                      "total_sales_qty_today": "2.00",
                      "warehouse_stock_available": 108,
                      "outstanding_amount": 70000,
                      "overdue_amount_7plus_days": 0,
                      "active_deliveries_in_progress": 1,
                      "pending_payments_count": 0,
                      "pending_payments_amount": "0.00"
                    },
                    "additional_metrics": {
                      "today_collection": "100000.00",
                      "collection_rate_percent": 100.0,
                      "completed_deliveries_today": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Tanggal (opsional). Default hari ini.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardSummary"
      }
    },
    "/api/dashboard/weekly": {
      "get": {
        "tags": [
          "Dashboard & Laporan"
        ],
        "summary": "Ringkasan mingguan (7 hari). (ADMIN)",
        "responses": {
          "200": {
            "description": "Ringkasan mingguan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Weekly summary retrieved successfully",
                  "data": {
                    "week_start": "2026-08-24",
                    "week_end": "2026-08-30",
                    "daily_breakdown": [
                      {
                        "date": "2026-08-26",
                        "day_name": "Wednesday",
                        "revenue": "20000.00",
                        "qty_sold": "2.00",
                        "delivered_qty": "3.00",
                        "collection": "100000.00"
                      }
                    ],
                    "top_performing_stores": [
                      {
                        "store_id": 1,
                        "store_name": "Toko Rudi",
                        "week_sales": "20000.00"
                      }
                    ],
                    "summary": {
                      "total_revenue": "20000.00",
                      "total_qty_sold": "2.00",
                      "total_delivered": "3.00",
                      "total_collection": "100000.00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": [
                      "WAREHOUSE"
                    ],
                    "required_roles": "ADMIN, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Tanggal awal minggu (opsional). Default startOfWeek.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDashboardWeekly"
      }
    },
    "/api/deliveries": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Daftar pengiriman. Role DRIVER hanya melihat sterilnya sendiri. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "List pengiriman. Untuk role DRIVER hanya berisi delivery dengan driver_id miliknya.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Deliveries retrieved successfully",
                  "data": [
                    {
                      "id": 3,
                      "delivery_date": "2026-08-26T00:00:00.000000Z",
                      "driver_id": 3,
                      "vehicle_id": 1,
                      "warehouse_id": 1,
                      "initial_qty_loaded_ball": "5.00",
                      "total_qty_delivered_ball": "3.00",
                      "total_qty_returned_ball": "2.00",
                      "status": "COMPLETED",
                      "notes": "High priority untuk RSA-001",
                      "started_at": "2026-08-26T09:42:12.000000Z",
                      "completed_at": "2026-08-26T13:43:21.000000Z",
                      "created_at": "2026-08-26T09:40:40.000000Z",
                      "updated_at": "2026-08-26T13:43:21.000000Z",
                      "driver": {
                        "id": 3,
                        "username": "driver_1",
                        "email": "driver1@icefactory.local",
                        "role": "DRIVER",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z"
                      },
                      "vehicle": {
                        "id": 1,
                        "code": "V-001",
                        "plate_number": "B 1234 ABC",
                        "name": "Truck A",
                        "created_at": "2026-08-26T14:52:53.000000Z",
                        "updated_at": "2026-08-26T14:52:53.000000Z"
                      },
                      "collection_target": "500000.00",
                      "stops": [
                        {
                          "sequence": 1,
                          "store": {
                            "id": 1,
                            "code": "RSA-001",
                            "name": "Toko Rapi",
                            "owner_name": "Joko",
                            "phone": "08123456789",
                            "address": "Jl. Merdeka No. 1, Jakarta",
                            "latitude": "-6.20880000",
                            "longitude": "106.84560000",
                            "created_at": "2026-08-26T09:31:00.000000Z",
                            "updated_at": "2026-08-26T09:31:00.000000Z"
                          },
                          "status": "PENDING",
                          "planned_qty_ball": null,
                          "visited_at": null,
                          "notes": null,
                          "leg_km": 3.1
                        },
                        {
                          "sequence": 2,
                          "store": {
                            "id": 2,
                            "code": "RSA-002",
                            "name": "Toko Rapi",
                            "owner_name": "Joko",
                            "phone": "08123456789",
                            "address": "Jl. Merdeka No. 2, Jakarta",
                            "latitude": "-6.21670000",
                            "longitude": "106.82940000",
                            "created_at": "2026-08-26T09:31:00.000000Z",
                            "updated_at": "2026-08-26T09:31:00.000000Z"
                          },
                          "status": "PENDING",
                          "planned_qty_ball": null,
                          "visited_at": null,
                          "notes": null,
                          "leg_km": 2.7
                        }
                      ]
                    }
                  ],
                  "count": 1
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "operationId": "getAdminDeliveries"
      },
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Buat rencana pengiriman (DRAFT) beserta tokotujuan. Stores diurutkan nearest-first dari gudang asal. (ADMIN, WAREHOUSE)",
        "responses": {
          "201": {
            "description": "Delivery plan dibuat, lengkap dengan daftar stop yang sudah terurut.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery plan created successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "DRAFT",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "collection_target": "500000.00",
                    "stops": [
                      {
                        "sequence": 1,
                        "store": {
                          "id": 1,
                          "code": "RSA-001",
                          "name": "Toko Rapi",
                          "owner_name": "Joko",
                          "phone": "08123456789",
                          "address": "Jl. Merdeka No. 1, Jakarta",
                          "latitude": "-6.20880000",
                          "longitude": "106.84560000",
                          "created_at": "2026-08-26T09:31:00.000000Z",
                          "updated_at": "2026-08-26T09:31:00.000000Z"
                        },
                        "status": "PENDING",
                        "planned_qty_ball": null,
                        "visited_at": null,
                        "notes": null,
                        "leg_km": 3.1
                      },
                      {
                        "sequence": 2,
                        "store": {
                          "id": 2,
                          "code": "RSA-002",
                          "name": "Toko Rapi",
                          "owner_name": "Joko",
                          "phone": "08123456789",
                          "address": "Jl. Merdeka No. 2, Jakarta",
                          "latitude": "-6.21670000",
                          "longitude": "106.82940000",
                          "created_at": "2026-08-26T09:31:00.000000Z",
                          "updated_at": "2026-08-26T09:31:00.000000Z"
                        },
                        "status": "PENDING",
                        "planned_qty_ball": null,
                        "visited_at": null,
                        "notes": null,
                        "leg_km": 2.7
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE"
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validasi gagal (format custom).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailedError"
                },
                "example": {
                  "success": false,
                  "message": "Validation failed",
                  "errors": {
                    "stores": [
                      "The stores field is required."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "driver_id": 3,
                "vehicle_id": 1,
                "warehouse_id": 1,
                "delivery_date": "2026-08-26",
                "initial_qty_loaded_ball": 50,
                "collection_target": 500000,
                "stores": [
                  1,
                  2
                ],
                "notes": "High priority untuk RSA-001"
              }
            }
          }
        },
        "operationId": "postAdminDeliveries"
      }
    },
    "/api/deliveries/{deliveryId}/items": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Daftar item dalam satu pengiriman. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "List delivery items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery items retrieved successfully",
                  "data": [
                    {
                      "id": 6,
                      "delivery_id": 3,
                      "store_id": 2,
                      "freezer_id": 4,
                      "confirmed_stock_before_ball": "3.00",
                      "delivered_qty_ball": "3.00",
                      "photo_stock_before": [
                        "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                      ],
                      "photo_delivered": [
                        "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                      ],
                      "visited_at": "2026-08-26T09:47:13.000000Z",
                      "store": {
                        "id": 2,
                        "code": "RSA-002",
                        "name": "Toko Budi",
                        "owner_name": "Budi Santoso",
                        "phone": "08129876543",
                        "address": "Jl. Sudirman No. 456, Jakarta",
                        "latitude": "-6.21670000",
                        "longitude": "106.82940000",
                        "created_at": "2026-08-26T14:52:53.000000Z",
                        "updated_at": "2026-08-26T14:52:53.000000Z"
                      },
                      "freezer": {
                        "id": 4,
                        "store_id": 2,
                        "code": "FRZ-RSA-002-A",
                        "sim_number": "SIM-8888",
                        "max_capacity_ball": 100,
                        "tare_weight_kg": "5.00",
                        "last_weight_kg": "75.00",
                        "last_temperature_c": "-18.00",
                        "last_door_status": "CLOSED",
                        "last_seen_at": "2026-08-26T09:27:22.000000Z",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z",
                        "products": [
                          {
                            "id": 1,
                            "code": "ICE-10",
                            "name": "Es Kristal 10 KG",
                            "weight_kg": "10.00",
                            "selling_price": "10000.00",
                            "created_at": "2026-08-26T09:27:22.000000Z",
                            "updated_at": "2026-08-26T09:27:22.000000Z",
                            "ball_equivalent": 1.0
                          },
                          {
                            "id": 2,
                            "code": "ICE-15",
                            "name": "Es Kristal 15 KG",
                            "weight_kg": "15.00",
                            "selling_price": "15000.00",
                            "created_at": "2026-08-26T09:27:22.000000Z",
                            "updated_at": "2026-08-26T09:27:22.000000Z",
                            "ball_equivalent": 1.5
                          }
                        ]
                      },
                      "product_id": 1,
                      "product": {
                        "id": 1,
                        "code": "ICE-10",
                        "name": "Es Kristal 10 KG",
                        "weight_kg": "10.00",
                        "selling_price": "10000.00",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z",
                        "ball_equivalent": 1.0
                      }
                    }
                  ],
                  "count": 1
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveriesDeliveryidItems"
      }
    },
    "/api/deliveries/{id}/stops/{storeId}/arrive": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Tiba di satu stop: mencatat kedatangan driver. (ADMIN, WAREHOUSE, DRIVER)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "200": {
            "description": "Stop tercatat sudah ditinggalkan driver.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "422": {
            "description": "Delivery belum IN_PROGRESS atau stop tidak ada di rute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found — id tidak ada di database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/deliveries/{id}/stops/{storeId}/depart": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Tinggalkan satu stop. Menutup toko yang tidak ada barangnya — konfirmasi freezer tidak bisa melakukannya. (ADMIN, WAREHOUSE, DRIVER)",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "200": {
            "description": "Stop sudah ditinggalkan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "422": {
            "description": "Driver belum tiba di stop ini.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found — id tidak ada di database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/deliveries/{id}/stops/{storeId}/skip": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Lewati satu stop tanpa dilayani, dengan alasan. (ADMIN, WAREHOUSE, DRIVER)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "reason": "Toko tutup, tidak ada yang bisa dilayani"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "200": {
            "description": "Stop ditandai SKIPPED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "422": {
            "description": "Stop sudah ditinggalkan atau alasan kosong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found — id tidak ada di database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/deliveries/{id}/stops/{storeId}/settlement-preview": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Pratinjau tagihan satu stop sebelum pembayaran: total stop ini + utang sebelumnya. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "200": {
            "description": "Pratinjau tagihan per stop.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "422": {
            "description": "Store tidak ada di rute delivery ini.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found — id tidak ada di database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/deliveries/{id}": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Detail pengiriman beserta driver, vehicle & delivery items. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "Delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery retrieved successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "summary": "Detail pengiriman beserta driver, vehicle, stop rute & delivery items. (ADMIN, WAREHOUSE, DRIVER)",
                    "collection_target": "500000.00",
                    "stops": [
                      {
                        "sequence": 1,
                        "store": {
                          "id": 1,
                          "code": "RSA-001",
                          "name": "Toko Rapi",
                          "owner_name": "Joko",
                          "phone": "08123456789",
                          "address": "Jl. Merdeka No. 123, Jakarta",
                          "latitude": "-6.20880000",
                          "longitude": "106.84560000",
                          "created_at": "2026-08-26T09:31:00.000000Z",
                          "updated_at": "2026-08-26T09:31:00.000000Z"
                        },
                        "status": "VISITED",
                        "planned_qty_ball": null,
                        "visited_at": "2026-08-26T10:15:00.000000Z",
                        "notes": null,
                        "leg_km": 3.1
                      },
                      {
                        "sequence": 2,
                        "store": {
                          "id": 2,
                          "code": "RSA-002",
                          "name": "Toko Sejahtera",
                          "owner_name": "Andi",
                          "phone": "08129876543",
                          "address": "Jl. Sudirman No. 456, Jakarta",
                          "latitude": "-6.21670000",
                          "longitude": "106.82940000",
                          "created_at": "2026-08-26T09:31:00.000000Z",
                          "updated_at": "2026-08-26T09:31:00.000000Z"
                        },
                        "status": "PENDING",
                        "planned_qty_ball": null,
                        "visited_at": null,
                        "notes": null,
                        "leg_km": 2.7
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveriesId"
      },
      "put": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Ubah rencana (hanya DRAFT). 'stores' mengganti seluruh rute. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery diupdate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery updated successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "422": {
            "description": "Validasi gagal (format custom).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailedError"
                },
                "example": {
                  "success": false,
                  "message": "Validation failed",
                  "errors": {
                    "code": [
                      "The code has already been taken."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "stores": [
                  2,
                  1
                ],
                "notes": "Ubah urutan, tambah target"
              }
            }
          }
        },
        "operationId": "putAdminDeliveriesId"
      },
      "delete": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Hapus rencana — hanya DRAFT. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery dihapus.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "422": {
            "description": "Bukan DRAFT.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "Only DRAFT deliveries can be deleted",
                  "current_status": "IN_PROGRESS"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "deleteAdminDeliveriesId"
      }
    },
    "/api/deliveries/{id}/complete": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Selesaikan pengiriman (IN_PROGRESS -> COMPLETED). Wajib balance: loaded = delivered + returned. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery selesai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery completed successfully",
                  "summary": {
                    "delivery_id": 3,
                    "status": "COMPLETED",
                    "loaded": "5.00",
                    "delivered": "3.00",
                    "returned": "2.00",
                    "balance_verified": true
                  },
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "COMPLETED",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": "2026-08-26T13:43:21.000000Z",
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "422": {
            "description": "Bukan IN_PROGRESS / balan tidak match / validasi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "Delivery balance does not match",
                  "balance": {
                    "loaded": "5.00",
                    "delivered": "3.00",
                    "returned": "1.00",
                    "total": "4.00"
                  },
                  "error": "Loaded (5.00) ≠ Delivered + Returned (3.00 + 1.00)"
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              },
              "example": {
                "total_qty_returned_ball": 2
              }
            }
          }
        },
        "operationId": "postAdminDeliveriesIdComplete"
      }
    },
    "/api/deliveries/{id}/start": {
      "post": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Mulai pengiriman (DRAFT -> IN_PROGRESS). Cek stok. (ADMIN, WAREHOUSE)",
        "responses": {
          "200": {
            "description": "Delivery dimulai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery started successfully",
                  "data": {
                    "id": 3,
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver_id": 3,
                    "vehicle_id": 1,
                    "warehouse_id": 1,
                    "initial_qty_loaded_ball": "5.00",
                    "total_qty_delivered_ball": "3.00",
                    "total_qty_returned_ball": "2.00",
                    "status": "IN_PROGRESS",
                    "notes": "High priority untuk RSA-001",
                    "started_at": "2026-08-26T09:42:12.000000Z",
                    "completed_at": null,
                    "created_at": "2026-08-26T09:40:40.000000Z",
                    "updated_at": "2026-08-26T13:43:21.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          },
          "422": {
            "description": "Bukan DRAFT / stok kurang.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "example": {
                  "success": false,
                  "message": "Insufficient warehouse stock to start delivery",
                  "available": 108,
                  "required": 200
                }
              }
            }
          },
          "500": {
            "description": "Error server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "success": false,
                  "message": "Internal server error",
                  "error": "Exception message ..."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "postAdminDeliveriesIdStart"
      }
    },
    "/api/deliveries/{id}/summary": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Ringkasan progress satu pengiriman. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "Summary delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery summary retrieved successfully",
                  "data": {
                    "delivery_id": 3,
                    "status": "IN_PROGRESS",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "vehicle": {
                      "id": 1,
                      "code": "V-001",
                      "plate_number": "B 1234 ABC",
                      "name": "Truck A",
                      "created_at": "2026-08-26T14:52:53.000000Z",
                      "updated_at": "2026-08-26T14:52:53.000000Z"
                    },
                    "delivery_date": "2026-08-26",
                    "initial_load": "5.00",
                    "total_delivered": "3.00",
                    "current_load": "2.00",
                    "stops_completed": 1,
                    "notes": "High priority untuk RSA-001",
                    "stops_total": 2,
                    "stops_departed": 1,
                    "stops_skipped": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID pengiriman",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getAdminDeliveriesIdSummary"
      }
    },
    "/api/deliveries/{id}/route": {
      "get": {
        "tags": [
          "Pengiriman"
        ],
        "summary": "Rute pengiriman: urutan toko, jarak per leg, total km & estimasi durasi. (ADMIN, WAREHOUSE, DRIVER)",
        "responses": {
          "200": {
            "description": "Rute dalam urutan kunjungan, beserta progres stop.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Delivery route retrieved successfully",
                  "data": {
                    "delivery_id": 3,
                    "status": "IN_PROGRESS",
                    "delivery_date": "2026-08-26T00:00:00.000000Z",
                    "driver": {
                      "id": 3,
                      "username": "driver_1",
                      "email": "driver1@icefactory.local",
                      "role": "DRIVER",
                      "created_at": "2026-08-26T09:27:22.000000Z",
                      "updated_at": "2026-08-26T09:27:22.000000Z"
                    },
                    "warehouse": {
                      "id": 1,
                      "code": "WH-001",
                      "name": "Gudang Pusat",
                      "latitude": "-6.17510000",
                      "longitude": "106.86500000",
                      "created_at": "2026-08-26T09:30:00.000000Z",
                      "updated_at": "2026-08-26T09:30:00.000000Z"
                    },
                    "initial_qty_loaded_ball": "50.00",
                    "collection_target": "500000.00",
                    "stops": [
                      {
                        "sequence": 1,
                        "store": {
                          "id": 1,
                          "code": "RSA-001",
                          "name": "Toko Rapi",
                          "owner_name": "Joko",
                          "phone": "08123456789",
                          "address": "Jl. Merdeka No. 123, Jakarta",
                          "latitude": "-6.20880000",
                          "longitude": "106.84560000",
                          "created_at": "2026-08-26T09:31:00.000000Z",
                          "updated_at": "2026-08-26T09:31:00.000000Z"
                        },
                        "status": "VISITED",
                        "planned_qty_ball": null,
                        "visited_at": "2026-08-26T10:15:00.000000Z",
                        "notes": null,
                        "leg_km": 3.1,
                        "arrived_at": "2026-08-26T10:00:00.000000Z",
                        "departed_at": "2026-08-26T10:15:00.000000Z"
                      },
                      {
                        "sequence": 2,
                        "store": {
                          "id": 2,
                          "code": "RSA-002",
                          "name": "Toko Sejahtera",
                          "owner_name": "Andi",
                          "phone": "08129876543",
                          "address": "Jl. Sudirman No. 456, Jakarta",
                          "latitude": "-6.21670000",
                          "longitude": "106.82940000",
                          "created_at": "2026-08-26T09:31:00.000000Z",
                          "updated_at": "2026-08-26T09:31:00.000000Z"
                        },
                        "status": "PENDING",
                        "planned_qty_ball": null,
                        "visited_at": null,
                        "notes": null,
                        "leg_km": 2.7,
                        "arrived_at": null,
                        "departed_at": null
                      }
                    ],
                    "stops_total": 2,
                    "stops_visited": 1,
                    "current_stop": {
                      "id": 2,
                      "code": "RSA-002",
                      "name": "Toko Sejahtera",
                      "owner_name": "Andi",
                      "phone": "08129876543",
                      "address": "Jl. Sudirman No. 456, Jakarta",
                      "latitude": "-6.21670000",
                      "longitude": "106.82940000",
                      "created_at": "2026-08-26T09:31:00.000000Z",
                      "updated_at": "2026-08-26T09:31:00.000000Z"
                    },
                    "total_km": 5.8,
                    "total_minutes": 44,
                    "distance_note": "Straight-line distance scaled by 1.35 to approximate road distance. Legs are null where a warehouse or store has no coordinates.",
                    "at_store": null,
                    "next_stop": {
                      "id": 2,
                      "code": "RSA-002",
                      "name": "Toko Sejahtera",
                      "owner_name": "Andi",
                      "phone": "08129876543",
                      "address": "Jl. Sudirman No. 456, Jakarta",
                      "latitude": "-6.21670000",
                      "longitude": "106.82940000",
                      "created_at": "2026-08-26T09:31:00.000000Z",
                      "updated_at": "2026-08-26T09:31:00.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Tidak terautentikasi. Kirim header `Authorization: Bearer <token>` dari `/api/auth/login`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Unauthenticated",
                  "error": "Missing or invalid API token. Please login first."
                }
              }
            }
          },
          "403": {
            "description": "Role tidak diizinkan. Endpoint ini butuh ADMIN, WAREHOUSE, DRIVER.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "message": "Forbidden",
                  "error": "Access denied",
                  "details": {
                    "your_role": "WAREHOUSE",
                    "your_permissions": "Production management and delivery planning",
                    "required_roles": "ADMIN, WAREHOUSE, DRIVER",
                    "allowed_permissions": [
                      "ADMIN",
                      "WAREHOUSE",
                      "DRIVER"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                },
                "example": {
                  "success": false,
                  "message": "Data not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/delivery-items/confirm": {
      "post": {
        "tags": [
          "Delivery Items & Freezer"
        ],
        "summary": "Konfirmasi 1 freezer di toko yang sedang dikunjungi. Toko harus berada di rute, dan stop otomatis jadi VISITED. (ADMIN, DRIVER)",
        "responses": {
          "201": {
            "description": "Freezer & produk terkonfirmasi. Penjualan dicatat terpisah.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                },
                "example": {
                  "success": true,
                  "message": "Freezer confirmed successfully",
                  "data": {
                    "delivery_item": {
                      "id": 6,
                      "delivery_id": 3,
                      "store_id": 2,
                      "freezer_id": 4,
                      "product_id": 1,
                      "product": {
                        "id": 1,
                        "code": "ICE-10",
                        "name": "Es Kristal 10 KG",
                        "weight_kg": "10.00",
                        "selling_price": "10000.00",
                        "created_at": "2026-08-26T09:27:22.000000Z",
                        "updated_at": "2026-08-26T09:27:22.000000Z",
                        "ball_equivalent": 1.0
                      },
                      "confirmed_stock_before_ball": "3.00",
                      "delivered_qty_ball": "3.00",
                      "photo_stock_before": [
                        "delivery-items/stock-before/OSDPzSOl4a2d8WR6fqkuXL544KfnQ0lxBkRhtzSE.jpg"
                      ],
                      "photo_delivered": [
                        "delivery-items/delivered/clCMuJXTsff5j7KiPeI6ILWZ6sFZG0wNS3e5MaJp.png"
                      ],
                      "visited_at": "2026-08-26T09:47:13.000000Z",
                      "store": {
                        "id": 2,
                        "code": "RSA-002",
                        "name": "Toko Budi",
                        "owner_name": "Budi Santoso",
                        "phone": "08129876543",
                        "address": "Jl. Sudirman No. 456, Jakarta",
                        "latitude": "-6.21670000",
                        "longitude": "106.82940000",
                        "created_at": "2026-08-26T14:52:53.000000Z",
                        "updated_at": "2026-08-26T14:52:53.000000Z"
                      },
                      "freezer": {
                        "id": 4,
                        "store_id": 2,
                        "code": "FRZ-RSA-002-A",
                        "sim_number": "SIM-8888",
                        "max_capacity_ball": 100,
                        "tare_weight_kg": "5.00",
                        "last_weight_kg": "75.00",
                        "last_temperature_c": "-18.00",
                        "last_door_status": "CLOSED",
                        "last_seen_at": "2026-08-26T09:27:22.000000Z",
[...]
